<div id={{checkpointId}} class="cursor-pointer">
	<div ng-click="onClickCheckpoint()" 
		ng-mouseover="hoverIn(checkpointId)"
		ng-mouseleave="hoverOut(checkpointId)">
		<div>
			<img class="checkpoint-background" src= "{{checkpointData.answered ? '../resources/checkpoint-activated.png' : '../resources/checkpoint-normal.png' }}"></img> 
		</div>
		<div class="checkpoint-icon">
			<img class="checkpoint-icon-content" ng-if="hover" ng-class="{{classActiveParam}}" ng-src={{checkpointData.value}}></img>
			<img class="checkpoint-icon-content" ng-if="!hover" ng-src={{checkpointData.value}}></img>
		</div>
	</div>
	<div ng-if="hover" class="checkpoint-description animated bounce" > 
		<div class="checkpoint-desciption-content-1">
			<span>{{checkpointData.descriptionTitle}}</span>
		</div>
		<div class="checkpoint-desciption-content-2">
			<span class="checkpoint-desciption-content-2-text">{{checkpointData.descriptionContent}}</span>
		</div>
	</div>
</div>
</div>
<div ng-if="showContent" class="checkpoint-content-main">
	<div class="checkpoint-content-main-bg animated bounceIn" >
		<img class="checkpoint-content-exit" src="../resources/xxx.png" ng-click="exitContent()"></img>
		<div class="checkpoint-content-header">
			<span class="checkpoint-content-header-text">{{checkpointData.descriptionTitle}}</span>
		</div>
		<div class="checkpoint-content-header-desciption">
			<span>{{checkpointData.descriptionContent}}</span>
		</div>
		<div id="checkpoint-content-result" class="checkpoint-content-result">
			<div ng-repeat="answerConent in checkpointData.answerContent track by $index">
				<div class="checkpoint-content-result-detail" ng-click="onSelectAnswerContent($index)">
					<img ng-if="!answerConent.selected" src="../resources/cp-answer-{{$index}}-normal.png"></img> 
					<img class="animated bounceIn" ng-if="answerConent.selected" src="../resources/cp-answer-{{$index}}-activated.png"></img>
					<div class="checkpoint-content-result-detail-result">
						<span ng-if="answerConent.selected" style="color: #eb579f; ">{{answerConent.value}}</span>
						<span ng-if="!answerConent.selected" style="color: white; ">{{answerConent.value}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>