<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="game.css">
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-animate/angular-animate.min.js"></script>
<script src="lib/css_browser_selector.js"></script>
<script src="game_data.js"></script>
<script src="game.js"></script>
<link rel="stylesheet" href="lib/animate.min.css">
<div id="game-container" ng-app="psi_game" ng-controller="PsiController">
	<div id="game_home" class="game-home-content" ng-class="{{gameHomeOut}}" ng-if='!gameContent'>
		<img class="game_home_bg"  src="../resources/shutterstock_1.jpg"></img>
		<div class="animated jello" >
			<img class="question_bg"  src="../resources/001-2.png"></img>
			<div class="question_title">
				<div class="title-start">Lựa chọn của bạn</div>
			</div>
			<div class="button-start" >PLAY</div>
			<div class="div-play" ng-click="onPlay()"></div>
		</div>
		<div class="game_home_footer" >
			<img src="../resources/001-4.png"/>
		</div>
	</div>

	<div class="game-main-content" ng-if='gameContent'>
	 <div class="state-start cursor-pointe" ng-click="onStart()">
		<img  src="../resources/g1.png"></img>
		<span class="state-description-text-content">BẮT ĐẦU</span>
	</div>
	<div class="state-finish cursor-pointer" ng-click="onFinish()">
		<img src="../resources/g2.jpg"></img>
		<span class="state-description-text-content">KẾT THÚC</span>
	</div>
	
	<img class="game-main-logo" src="../resources/main-logo.png"></img>
	
	<div ng-if="!showGameDescriptionModal" class="game-description animated rubberBand cursor-pointer" ng-click="onshowGameDescriptionModal()">
		<div class="button-question" >?</div>
	</div>
	
	<div ng-if="showGameDescriptionModal" class="game-description-background-modal animated bounceIn">
		<div class="game-description-title-modal">HƯỚNG DẪN</div>
		<img class="game-description-exit-modal cursor-pointer" src="../resources/xxx.png" ng-click="onshowGameDescriptionModal()"></img>
		<div class="game-description-content-modal">
			<div class="game-description-text-content" ng-repeat="descriptions in gameDescription track by $index">
				<div class="description-text-content game-description-text-content-{{$index}}">
					<div class="description-text-content-title">
					{{descriptions.state}}
					</div>
					<div class="description-text-content-detail">
						{{descriptions.value}}
					</div>
				</div>
			</div>		
		</div>
	</div>
	
	<img class="game-line-checkpoint" src="../resources/line.png"></img>
	
	<div ng-repeat="checkpoint in checkpointData track by $index">
		<check-point class="checkpoint-{{$index+1}}" checkpoint-id="{{$index}}" ng-show="selectedIndex==$index || selectedIndex==-2" class-active-param="'animated infinite rubberBand'" checkpoint-data="checkpoint" count-score="countScore" selected-index="selectedIndex"></check-point>
	</div>
	

	<div ng-if="showResult" class="checkpoint-content-main" style="z-index: 10;">
		<div class="result-modal animated bounceIn" >
			<img class="checkpoint-content-exit" src="../resources/xxx.png" ng-click="exitContentResult()"></img>
			<div class="checkpoint-content-header">
				<div class="checkpoint-content-header-content header-title">
					<span class="checkpoint-content-header-text title-text">{{finishResults.descriptionContentTitle}}</span>
				</div>
					
				<div class="checkpoint-content-header-content header-description">
					<span class="checkpoint-content-header-text description-text">{{finishResults.descriptionContent}}</span>
				</div>
			</div>
			<div class="finish-result">
				<div ng-repeat="resultContent in finishResults.result track by $index">
					<div class="finish-result-content" >
						<a class="finish-result-content-a" ng-click="onOpenLink(resultContent.link)" target="_parent" >
							<img class="finish-result-content-img" ng-src="{{resultContent.image}}" ></img> 
						</a>						
					</div>
					<div class="finish-result-content-title">
						<span >{{resultContent.name}}</span>
					</div>
				</div>
			</div>
			
			<div class="finish-result-note">
				<span class="finish-result-note-text">{{finishResults.note}}</span>
			</div>
		</div>
	</div>
	</div>
</div>